//META{"name":"Reborn","description":"A nice sleek transparent theme.","author":"Izy","version":"0.0","website":"https://discord.gg/Q8U53Nd"}*//

/* IMPORT CSS FROM GITHUB */
@import url("https://rawgit.com/squee666/Discord-Themes/master/css/Discord%20Reborn.css");
/*
===== IMPORTANT =====
CHANGE DISCORDS THEME TO DARK THEME IN APPEARANCE SETTINGS FOR THIS THEME TO WORK!
IMPORTANT: EVERY URL MUST BE HTTPS:// IN ORDER TO WORK IN DISCORD
===== CUSTOMIZABLE COLORS / IMAGES =====
*/
:root { 
--mc: #a2afd4 !important;                                   /*Main Colour*/     
--hc: #1d1e25!important;                                   /*Hover Colour*/       
--BG: url("https://i.imgur.com/ZBJj0Yr.jpg") !important;    /*Wallpaper*/   
--RB: rgba(0,0,0,0.70) !important;                          /*Reborn Transparency Higher is Darker*/   
--br: 50% !important;                                       /*RoundNess of Icons*/    
 }
 /*
===== CREDITS =====
URI
POUT
DINGUS
BEARDDESIGN
ZERTHOX
THESE PEOPLE HAVE HELPED CREATE THIS THEME IN ONE WAY OR THE OTHER.
===== TROUBLESHOOTING =====
IF YOU NEED ANY HELP GO TO THE HELP GO TO https://discord.gg/Q8U53Nd
---------------------------------------------------------------------------------------------------------------------------------------------
*/
