/**
 * @name Frosted Glass
 * @author Gibbu#1211
 * @version 1.0.0
 * @description Display your picture of choice with adjustable blur and brightness. Discord Dark theme is required via the Appearance tab.
 * @source https://github.com/Gibbu/BetterDiscord-Themes/tree/master/FrostedGlass
 * @website https://gibbu.me/themegen/frostedglass
*/
@import url('https://fonts.googleapis.com/css?family=Overpass+:300,400,500,600,700,800,900&display=swap');
@import url("https://gibbu.github.io/BetterDiscord-Themes/FrostedGlass/base.css");
@import url('https://monstrousdev.github.io/themes/addons/user-tags.css');

/* Old Windows titlebar - remove this @import if you wish to use default titlebar */
@import url("https://gibbu.github.io/BetterDiscord-Themes/addons/windows-titlebar.css");



:root {
--BG-image: url('https://i.imgur.com/08HaD7g.jpg');
--BG-image-blur: 5px;
--BG-serverlist-brightness: 0.8;
--BG-left-brightness: 0.8;
--BG-right-brightness: 0.6;
--BG-popout-brightness: 0.7;
--BG-tint-colour: 180,142,173;
--BG-tint-brightness: 0.1;
--BG-gradient-one: 180,142,173;
--BG-gradient-two: 154,121,148;
--BG-gradient-direction: -45deg;
--BG-window-padding: 20px;
--BG-window-roundness: 10px;
--BG-left-right-split: 0;
--BG-font: 'Overpass';
}

/*
    Coloured SVG's by DevilBro#4401
    Discord Server: https://discordapp.com/invite/Jx3TjNS
    PayPal.Me: https://www.paypal.me/MircoWittrien
*/
