/**
 * @name Frosted Glass
 * @author Gibbu#1211
 * @version 2.0.0
 * @description Display your picture of choice with adjustable blur and brightness. Dark theme is required
 * @invite ZHthyCw
 * @donate https://paypal.me/IanRGibson
 * @authorId 174868361040232448
 * @source https://github.com/Gibbu/BetterDiscord-Themes/tree/master/FrostedGlass
 * @website https://gibbu.me
*/

/* This theme was edited using https://gibbu.me/editor/frostedglass */

@import url('https://fonts.googleapis.com/css?family=Roboto:300&display=swap');
@import url('https://gibbu.github.io/BetterDiscord-Themes/FrostedGlass/base.css');
@import url('https://discord-custom-covers.github.io/usrbg/snippets/userPopouts.css');
@import url('https://discord-custom-covers.github.io/usrbg/snippets/modals.css');
@import url('https://monstrousdev.github.io/themes/addons/user-tags.css');
@import url('https://gibbu.github.io/BetterDiscord-Themes/addons/windows-titlebar.css');

:root {
  --background-image: url('https://i.imgur.com/Z12eSMw.png');
  --background-image-blur: 5px;
  --background-image-size: cover;
  --background-image-position: center;
  --popout-modal-image: url('https://i.imgur.com/Z12eSMw.png');
  --popout-modal-blur: 5px;
  --popout-modal-size: cover;
  --popout-modal-position: center;
  --home-button-image: url('https://gibbu.github.io/BetterDiscord-Themes/FrostedGlass/assets/discord.svg');
  --home-button-size: cover;
  --home-button-position: center;
  --serverlist-brightness: 0.8;
  --left-brightness: 0.8;
  --middle-brightness: 0.6;
  --right-brightness: 0;
  --popout-modal-brightness: 0.75;
  --tint-colour: 255,51,159;
  --tint-brightness: 0;
  --gradient-primary: 103,58,183;
  --gradient-secondary: 63,81,181;
  --gradient-direction: 288deg;
  --window-padding: 20px;
  --window-roundness: 10px;
  --scrollbar-colour: rgba(255,255,255,0.5);
  --link-colour: #00b0f4;
  --show-gift-gif-buttons: none;
  --font: 'Roboto';
  --update-notice-1: none;
}
