//META{"name":"Izanami","description":"A flat, clean dark theme with purple accents.","author":"Satoru","version":"1.0","website":"http://discord.gg/fjvwb95"}*//{}

@import url('https://satoru8.github.io/Izanami/Izanami.css');

:root {

    --mainBG: #282a36; /* Main background colours */
    --mainBG2: #282a36; /* Secondary background colours */
    --backdrop:#282a36; /* Backdrop/background transparency/colour. Not same as above. */
    --bgBrightness: transparent; /* Brightness when using a wallpaper */
    --borderColour: #555;

    --mainAccent: #f8f8f2;
    --scrollBars: #80808080;
    --unread: #bd93f9;  /* All unread notifs colour */

    --homeIcon: url('https://i.imgur.com/XNKv5vN.jpg') ;

    --chatTxtColour: #ffffff;
    --fontSize: .9375rem;
    --font: Ubuntu,Helvetica Neue,Helvetica,Arial,sans-serif;

    --hlBG: rgba(0, 0, 0, 0.75);   /* Highlight background */
    --hlColour: #282a36;

    --allRound: 20px;   /* All roundness 0-30px, 50px max */

    /* Glow Status */
    --round: var(--allRound);
    --sGlow: 0px 1.5px;

    --online: #50fa7b;
    --offline: #6272a4;
    --idle: #f1fa8c;
    --stream: #bd93f9;
    --dnd: #ff5555;
    --invis: #8be9fd;

    --spRound: var(--allRound);
    --spRound2: var(--allRound);

    /* Chat Avatars */
	--size1: 50px; /* Avatar Size */

	--round1: var(--allRound);
	--margin1: 0px; /* Margin left/right */
	--margin2: 0px; /* Margin top/bottom */
	--compact: 10px;    /* Discord Default 20px. 5px min or things overlap. Compact chat msgs */

    /* Blocked Msgs */
    --btnBg: var(--mainBG2);
    --btnColour: #bbb;
    --btnBorder: var(--borderColour);
    
    --msgBg: var(--mainBG2);
    --msgColour: #fff;
    --msgBorder: var(--borderColour);

    --hideAll: block;   /* block = show. None = hide */

}
	/* Wallpaper goes here */
#app-mount {background-image: url('https://i.imgur.com/NMKYiI9.jpg'); background-position: center;background-size: cover;background-repeat: no-repeat}

	/* Custom CSS */
