/*//META{"name":"Quiet-Fork","description":"Dark and Quiet. Easy on the eyes.","author":"Izy","version":"0.0","website":"https://discord.gg/TeRQEPb"}*//**/


/* IMPORT CSS FROM GITHUB */
@import url("https://rawgit.com/squee666/Discord-Themes/master/css/Quiet.css");
/*
---------------------------------------------------------------------------------------------------------------------------------------------
IMPORTANT: CHANGE DISCORDS THEME TO DARK THEME IN APPEARANCE SETTINGS FOR THIS THEME TO WORK!
---------------------------------------------------------------------------------------------------------------------------------------------
===== CUSTOMIZABLE COLORS =====
*/
:root{
--mc: #cc1444 !important;                                   /*Main Colour*/     
--hc: #770425 !important;                                   /*Hover Colour*/       
--br: 50% !important;                                       /*RoundNess of Icons*/    
--QT: #19191b ;                                             /*Quiet Theme Colour*/    
--QTD: #121213;                                             /*Quiet Off Parts Colour*/   
}
/*
---------------------------------------------------------------------------------------------------------------------------------------------
TROUBLESHOOTING: IF YOU NEED ANY HELP GO TO https://discord.gg/Q8U53Nd
---------------------------------------------------------------------------------------------------------------------------------------------
*/ 
