[submodule ".startpage"]
	path = .startpage
	url = https://github.com/tamagonocammy/startpage

[submodule ".themes/Pop-gruvbox"]
	path = .themes/Pop-gruvbox
	url = https://github.com/salimundo/Pop-gruvbox
